{% extends 'blog/base.html' %}


{% block content %}
    
    <div class="jumbotron">
        <p class="h4 text-center">Read View - Blog</p>
    </div>

    <div class="container">

        <a href="{% url 'create_post' %}" class=" mb-3 btn btn-light text-dark">Create Post</a>
        
        {% for blog in blogs %}

        <div class="card mb-5 rounded shadow-sm">
            <div class="card-header bg-info text-light">
              <div class="row">
                <div class="col-8">
                  <p class="card-title h5 ">{{blog.title}}
                    <br>
                    <br>
                    <a href="{% url 'update_post' blog.id %}" class="text-light small">Edit</a>&nbsp;

                    <form action="{% url 'delete_post' blog.id %}" method="POST">
                        {% csrf_token %}
                        <button class="text-danger small" type="submit">Delete</button>
                    </form>

                    
                  </p>
                </div>
                <div class="col-4">
                  <p class="small">{{blog.posted_at}} by {{blog.posted_by|title}}</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="card-text lead">{{blog.content}}</p>
                <img
                  src="{{blog.image.url}}"
                  alt="{{blog.title}} Image"
                  style="max-width: 100px; height: auto"
                />
              </div>
            </div>
          </div>
            
        {% endfor %}
    </div>

{% endblock content %}
    