{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="jumbotron">
        <p class="h4 text-center">Update View - Blog</p>
    </div>
    <div class="container">
        
        {% comment %}
            enctype is important.
        {% endcomment %}
            
        <div class="d-flex justify-content-center">
            <form method="POST" enctype="multipart/form-data" style="max-width: 800px;"> 
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-outline-primary btn-block">
                    Update
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
    
